<footer class="bg-dark text-white mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Electronic Store</h5>
        <p>Cửa hàng điện tử uy tín, chất lượng</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Liên kết</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Trang chủ</a></li>
          <li><a href="/products" class="text-white">Sản phẩm</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Liên hệ</h5>
        <address>
          <i class="fas fa-map-marker-alt"></i> 268 Lý Thường Kiệt, P.14, Q.10,
          TP.HCM<br />
          <i class="fas fa-phone"></i> (028) 3864 7256<br />
          <i class="fas fa-envelope"></i>
          <a href="mailto:contact@electronicstore.com" class="text-white"
            >contact@electronicstore.com</a
          >
        </address>
      </div>
    </div>
    <hr />
    <div class="text-center">
      &copy; <%= new Date().getFullYear() %> Electronic Store. All Rights
      Reserved.
    </div>
  </div>
</footer>
